/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* header */

h1 {
    text-align: center;
    margin: 30px;
    color: #e4306e;
}

/* main */

section p:first-child {
    text-align: center;
    margin: 30px;
}

/* floating cards */

img {
    max-width: 100%;
    width: 100px;
    float: left;
    margin: 0px 15px 0px 0px;
}

.row {
    margin: 0 20px;
}

.column {
    width: 300px;
    float: left;
    text-align: left;
    background-color: #0f0e17;
    color: white;
    margin: 20px 10px;
}