/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

body {
    font-family: 'Fredoka', sans-serif;
}
/* header */

h1 {
    text-align: center;
    margin: 30px;
    color: #e4306e;
}

/* main */

div p:first-child {
    text-align: center;
    margin: 30px 0;
}

/* floating cards */

img {
    max-width: 100%;
    width: 100px;
    float: left;
    margin: 0px 15px 0px 0px;
}

.row {
    margin: 0 -10px;
}

.column {
    width: calc(100% / 3);
    float: left;
    text-align: left;
    background-color: #0f0e17;
    color: white;
    margin: 20px 10px;
}

.column:nth-of-type(even) {
    margin: 20px 0;
}

h2,
.column>p,
a {
    
    line-height: 30px;
}

h2 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #39a4d1;
    font-size: 15px;
}

